@model Beta3.Models.ApplicationUser
@using Gravatar

@{
    ViewBag.Title = "EditUser";
}

<h2>EditUser</h2>

<div class="jumbotron">EditUser: @Model.UserName</div>
<a href="http://www.gravatar.com">
    <img src="http://www.gravatar.com/avatar/@ViewBag.EmailHash">
</a>
@using (Html.BeginForm("EditUser", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Edit account form</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.UserName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.PhoneNumber, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
            <input type="reset" value="reset" class="btn btn-default" />
        </div>
    </div>
}